# asgiref==3.4.1
beautifulsoup4==4.10.0
boto==2.49.0
Cactus==3.3.3
colorama==0.4.4
colorlog==6.6.0
Django==4.0.2
django-bootstrap-v5==1.0.8
django-crispy-forms==1.13.0
django-js-asset==1.2.2
django-markwhat==1.6.2
django-mptt==0.13.4
keyring==5.7.1
markdown2==2.4.2
Pillow==9.0.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tornado==6.1
tzdata==2021.5
