{% extends "index.html" %}
{% block title %}
    Payment
{% endblock title %}
{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'app:Home'  %}"><i class="fas fa-home"></i>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Payment</li>
    </ol>
</nav>
<div class="text-left fixed-top mt-5">
    <a href="{% url 'app:RegisterPayment' %}" class="btn btn-primary btn-sm mt-2 ml-2"><i class="fas fa-plus-circle"></i> add Payment</a>
</div>
<div class="container1">
    <div class="wrapper text-center">
        <h2 class="">PaymentList</h2>
    </div>
    <div class="col-md-5 m-auto">
        <form action="" class="my-4" method="get">
            <input class="form-control" type="search" name="W" aria-label="search" placeholder="">
        </form>
    </div>
    <div class="row mt-5" style="margin-right: 15px;">
        <div class="col-md-10 m-auto">
            <table class="table table-hover table-borderless">
                <thead class="border-bottom border-primary">
                    <tr>
                        <th scope="col" class="pb-3">#</th>
                        <th scope="col" class="pb-3">Name</th>
                        <th scope="col" class="pb-3">O'qiqydigan fani</th>
                        <th scope="col" class="pb-3">O'qituvchisi</th>
                        <th scope="col" class="pb-3">To'langan Summa</th>
                        <th scope="col">
                            <div class="btn-group">
                                To'langan vaqt
                                <button type="button" class="btn btn-sm btn-link pb-0 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <form action="{% url 'app:PassYear' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">O'tkan Yili</button>
                                    </form>
                                    <form action="{% url 'app:ThisYear' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Shu yil</button>
                                    </form>
                                    <form action="{% url 'app:ThisMonth' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Shu Oy</button>
                                    </form>          
                                </div>
                              </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for i in object_list %}
                        <tr class="border-bottom">
                            <th scope="row"> {{ forloop.counter }} </th>
                            <td>{{ i.student.f_name }}</td>
                            <td>{{ i.subject.name }}</td>
                            <td>{{ i.teacher.f_name }}</td>
                            <td>{{ i.payment }} so'm</td>
                            <td>{{ i.payed_date }}</td>
                            <td class="btn-group btn-group-sm">
                                <a href="{% url 'app:UpdatePayment' pk=i.pk %}" class="btn btn-primary">Edit</a>
                                {% if user.admin == True %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{i.pk}}">
                                        Delete
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        <!-- Button trigger modal -->  
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal{{i.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">{{i}}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="{% url 'app:DeletePayment' pk=i.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <b> {{i}} </b> <span> ni ro'stan ham o'chirib yubormoqchimisiz </span> ? <br>
                                        <small class="text-danger">Warning! Bu item o'chirilgandan so'ng qayta tiklashning iloji yoq!</small> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link" tabindex="-1" aria-disabled="true">Previous</a></li>
                    {% endif %}
                    <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                    <li class="page-item"><a href="?page={{ page_obj.number }}" class="page-link">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock content %}
