{% extends "index.html" %}
{% block title %}
    Students
{% endblock title %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'app:Subject' %}"><i class="fas fa-book"></i> Subjects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Students</li>
    </ol>
</nav>
<div class="text-right fixed-top mt-5">
    <a href="{% url 'app:RegisterStudent'  %}" class="mt-2 btn btn-primary btn-sm mr-2"><i class="fas fa-plus-circle"></i> add Student</a>
</div>
    <div class="wrapper">
        <h2 class="text-center">O'quvchilar Royhati</h2>
    </div>
    <div class="container1">
        <div class="row mt-5" style="margin-right: 15px;">
            <div class="col-md-10 mx-2 m-auto">
                <table class="table table-hover table-borderless table-sm text-center">
                    <thead class="border-bottom border-primary">
                        <tr>
                            <th>#</th>
                            <th>Toliq Ism</th>
                            <th>O'qiydigan Fani</th>
                            <th>O'qituchisi</th>
                            <th>Telefon Raqami</th>
                            <th>O'qiydigan kunlari</th>
                            <th>O'quv Turi</th>
                            <th>Dars vaqti</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in stu %}
                            <tr class="border-bottom">
                                <th>{{ forloop.counter }}</th>
                                <td> {{ i.f_name }} </td>
                                <td> {{ i.subject }} </td>
                                <td> {{ i.teacher.f_name }} </td>
                                <td> (+998) {{ i.phone_num }} </td>
                                <td> {{ i.study_days | upper }} </td>
                                <td> {{ i.study_type | upper }} </td>
                                <td> {{ i.lesson_time | upper }} </td>
                            </tr>
                        {% empty %}
                            <tr class="text-center">
                                <td colspan="10">Afsus Bironta ham O'quvchi yoq :( </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock content %}
