{% extends "index.html" %}
{% block title %}
    Subjects
{% endblock title %}
{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'app:Home'  %}"><i class="fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subjects</li>
    </ol>
</nav>
<div class="container1">
    <div class="wrapper text-center">
        <h2 class="">Fanlar Royhati</h2>
    </div>
    <div class="row mt-5" style="margin-right: 15px;">
        <div class="col-md-10 m-auto">
            <table class="table table-hover table-borderless">
                <thead class="border-bottom border-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">O'quvchilar</th>
                        <th scope="col">O'qituvchilar</th>
                        <th scope="col">To'langan To'lov</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for i in sub %}
                        <tr class="border-bottom">
                            <th scope="row"> {{ forloop.counter }} </th>
                            <td><a href="{% url 'app:Teacher' id_sub=i.id %}" class="text-dark"> {{ i.name }} </a> </td>
                            <td>{{ i.self_students }} kishi</td>
                            <td>{{ i.self_teachers }} kishi</td>
                            <td>{{ i.this_month_payment }} so'm</td>
                            <td class="btn-group btn-group-sm">
                                <a href="{% url 'app:UpdateSubject' pk=i.pk %}" class="btn btn-primary">Edit</a>
                                {% if user.admin == True %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{i.pk}}">
                                        Delete
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        <!-- Button trigger modal -->  
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal{{i.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">{{i.name}}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="{% url 'app:DeleteSubject' pk=i.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <b> {{i.name}} </b> <span> ni ro'stan ham o'chirib yubormoqchimisiz </span> ? <br>
                                        <small class="text-danger">Warning! Bu item o'chirilgandan so'ng qayta tiklashning iloji yoq!</small> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
