{% extends "index.html" %}
{% block title %}
    Teachers
{% endblock title %}
{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'app:Home'  %}"><i class="fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'app:Subject' %}"><i class="fas fa-book"></i> Subjects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Teachers</li>
    </ol>
</nav>
<div class="container1">
    <div class="row" style="margin-right: 15px;">
        <div class="col-md-10 m-auto">
            <table class="table table-hover table-borderless">
                <thead class="border-bottom border-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">O'quvchilar soni</th>
                        <th scope="col">To'langan To'lov</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in tea %}
                        <tr>
                            <th scope="row"> {{ forloop.counter }} </th>
                            <td> <a href="{% url 'app:Student' id_tea=i.id %}" class="text-dark"> {{ i.f_name }} </a> </td>
                            <td> {{ i.self_students }} kishi</td>
                            <td> {{ i.this_month_payment }} so'm</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}
