{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Report_Outlay
{% endblock title %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a href="{% url 'app:Home' %}">Home</a></li>
            <li class="breadcrumb-item" ><a href="{% url 'app:ReportSection' %}">Hisobot Bo'limi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Umumiy Harajat</li>
        </ol>
    </nav>
    <header class="text-center">
        <div class="banner">
            <h2 class="my-5 font-weight-light">Umumiy Harajatlar Ro'yhati</h2>
        </div>
    </header>
    <div class="row" style="margin-right: 15px;">
        <div class="col-md-7 m-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-success btn-block">Xarajat qo'shish</button>
            </form>
            <table class="table mt-3 table-hover table-borderless">
                <thead class="border-bottom border-primary">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Sariflangan Pul Miqdori</th>
                        <th>Sariflash vaqti</th>
                        <th>Ro'yhatdan o'tkazgan ishchi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-hover table-responsive-sm">
                    {% for i in object_list %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>{{ i.name }}</td>
                            <td>{{ i.amount }} so'm</td>
                            <td>{{ i.used_date }}</td>
                            <td>{{ i.user.first_name }}</td>
                            <td class="btn-group btn-group-sm">
                                <a href="{% url 'app:UpdateHarajatlar' pk=i.pk %}" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                        <!-- Button trigger modal -->  
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal{{i.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">{{i.name}}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="{% url 'app:DeleteTeacher' pk=i.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <b> {{i}} </b> <span> ni ro'stan ham o'chirib yubormoqchimisiz </span> ? <br>
                                        <small class="text-danger">Warning! Bu item o'chirilgandan so'ng qayta tiklashning iloji yoq!</small> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>                      
                    {% endfor %}
                </tbody>
                <tfoot class="border-top border-primary">
                    {% for i in object_list %}
                        {% if forloop.counter == 1 %}
                            {% if i.get_total_outlay %}                                
                                <tr>
                                    <th colspan="2">Total</th>
                                    <td colspan="3">Firma xisobidan shu oyda  <i class="text-danger"> {{ i.this_month_outlay }} so'm</i> xarajat qilingan</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tfoot>
            </table>
        </div>
    </div>

{% endblock content %}